.btn1{
height:50px;
width:50px;
font-size:20px;
background-color: red;
}
.btn2{
height:50px;
width:50px;
font-size:20px;
background-color: yellow;
}
.btn3{
height:50px;
width:50px;
font-size:20px;
background-color:#f69e7b;
}
.btn4{
height:50px;
width:50px;
font-size:20px;
background-color:#eedad1;
}
.btn5{
height:50px;
width:50px;
font-size:20px;
background-color:#99d8d0;
}
.btn6{
height:50px;
width:50px;
font-size:20px;
background-color:#b7efcd;
}
.btn7{
height:50px;
width:50px;
font-size:20px;
background-color:#fecb89;
}.btn8{
height:50px;
width:50px;
font-size:20px;
background-color:#e79cc2;
}.btn9{
height:50px;
width:50px;
font-size:20px;
background-color:#89c9b8;
}.btn10{
height:50px;
width:50px;
font-size:20px;
background-color:#a2de96;
}
.btn11{
height:50px;
width:50px;
font-size:20px;
background-color:#e7305b;
}
.btn12{
height:50px;
width:50px;
font-size:20px;
background-color:#87dfd6;
}
.btn13{
height:50px;
width:50px;
font-size:20px;
background-color:#84a9ac;
}
.btn14{
height:50px;
width:50px;
font-size:20px;
background-color:#e36387;
}
.btn15{
height:50px;
width:50px;
font-size:20px;
background-color:#ccafaf;
}
.btn16{
height:50px;
width:50px;
font-size:20px;
background-color:#b6eb7a;
}

.calculator{
height:310px;
width:240px;
background-color:#f7fbe1;
border:solid 2px black; 
}

.total-btn{
margin-top:10px;
margin-left:10px;

}
.input{
height:60px;
width:200px;
margin-top:10px;
margin-left:15px;
}
